body
{
    height: 100vh;
}
.parent1
{
    border: solid red;
    height: 25%;
    overflow: hidden;
}
.child1
{
    height: 25%;
    border: solid;
    margin: 2% 0 0 0;
}

.parent2
{
    border: solid blue;
    height: 25%;
    overflow: auto;
    scrollbar-width: none;
    -webkit-overflow-scrolling: none; /*webkit for chrome*/
}
.child2
{
    height: 25%;
    border: solid;
    margin: 2% 0 0 0;
}