*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,body
{
    width: 100%;
    height: 100%;
}
.selector
{
    display: inline-block;
    background-color: grey;
}
.declaration
{
    display: inline-block;
    background-color: goldenrod;
}