*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body
{
    width: 100%;
    height: 300%;
    /* scrollbar-width: none; */
}
.repeat
{
    background-image: url("https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    object-fit: cover; /*it will work for inside div*/
    background-size: cover;
    height: 15%;
}