body
{
    height: 100vh;
}

.parent1
{
    border: solid skyblue;
    background-color: skyblue;
    height: max-content;
    max-width: 60%;
}
.child1
{
    height: 60px;
}
.child1:nth-child(2)
{
    position: relative;
    top: 20px;
    left: 50%;
    background-color: coral;
    border: coral;
    width: 30%;
    /* z-index: -1; */
}

.parent2
{
    border: solid skyblue;
    background-color: skyblue;
    height: max-content;
    max-width: 60%;
}
.child2
{
    height: max-content;
}
.child2:nth-child(2)
{
    position: absolute;
    top: 90px;
    left: 50%;
    background-color: coral;
    border: coral;
    width: 30%;
    z-index: 1;
}

.parent3
{
    position: relative;
    border: solid skyblue;
    background-color: skyblue;
    height: max-content;
    max-width: 60%;
}
.child3
{
    height: 60px;
}
.child3:nth-child(2)
{
    position: absolute;
    top: 20px;
    left: 50%;
    background-color: coral;
    border: coral;
    width: 40%;
    height: max-content;
    z-index: 1;
}

.fixed
{
    position: fixed;
    background-color: blue;
    height: max-content;
    width: 45%;
    top: 0;
    left: 0;
}